body {
    padding-bottom: 300px;
}

.demo {
    margin: 0 0 20px 0;
    border: 2px solid #efefef;
    padding: 20px;
}

.top10title {
    background: #efefef;
    padding: 20px;
}

.top10 {
    display: inline-block;
    float: none;
    margin-left: -4px;
    vertical-align: top;
}

.call-out {
    background: palegreen;
}